<template>
  <require from="./icons/fa-adjust"></require>
  <require from="./icons/fa-500px"></require>
  <require from="./icons/fa-accessible-icon"></require>
  <require from="./icons/fa-zhihu"></require>
  <require from="./icons/fa-ship"></require>
  <require from="./icons/fa-shipping-fast"></require>
  <require from="./icons/fa-play"></require>
  <require from="./icons/fa-piggy-bank"></require>
  <require from="./icons/fa-java"></require>
  <require from="./icons/fa-node"></require>
  <require from="./icons/fa-node-js"></require>

  <h1>${message}</h1>

  <div style="height: 50px; display: flex;">
    <fa-adjust color.bind="color"></fa-adjust>
    <fa500px color.bind="color"></fa500px>
    <fa-accessible-icon color.bind="color"></fa-accessible-icon>
    <fa-zhihu color.bind="color"></fa-zhihu>
    <fa-ship color.bind="color"></fa-ship>
    <fa-shipping-fast color.bind="color"></fa-shipping-fast>
    <fa-play color.bind="color"></fa-play>
    <fa-piggy-bank color.bind="color"></fa-piggy-bank>
    <fa-java color.bind="color"></fa-java>
    <fa-node color.bind="color"></fa-node>
    <fa-node-js color.bind="color"></fa-node-js>
  </div>

  <hr />
  <input type="text" value.bind="color" />
</template>
